.mapSize {
	width:800px;
	height:800px;
}

.markerOne {
	font-size:25px;
	color:red;
}

.markerTwo {
	font-size:25px;
	color:black;
}

.markerThree {
	font-size:25px;
	color:blue;
}

.markerFour {
	font-size:25px;
	color:orange;
}